.everyday-main {
  background-color: transparent;
  border: none;
}
.everyday-item {
  background-color: #fff;
  border-radius: 15px !important;
  .ant-collapse-content {
    border-radius: 0 0 15px 15px !important;
  }
  & + .everyday-item {
    margin-top: 8px;
  }
}
