@keyframes 跳动 {
  0% {
    transform-origin: bottom;
    transform: scale(1);
  }
  50% {
    transform-origin: bottom;
    transform: scale(1.02);
  }
  100% {
    transform-origin: bottom;
    transform: scale(1);
  }
}