:root {
  // 充电特效
  --battery: 0;
  --d: 10px;
  --t: transparent;
  --r: #b90606;
  --y: #f1762a;
  --p: #91499c;
  --b: #36c3f2;
  --p: #f1762a;
  --o: #f26d48;
  --lb: #f1762a;
  --g: #f1762a;
  --lg: #f09861;
}

$siderBg: #333332;

$color-1: #d7a512;
