.ZH-menu {
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
}
.ZH-menu-item {
  display: flex;
  align-items: center;
}
.ZH-menu-item-title {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all ease .6s;
  &:hover {
    color: #f6d14d;
  }
  &:active {
    color: #fe9b39;
  }
  &.selected {
    color: #F55353 !important;
  }
}
.ZH-menu-item-text {
  @include text-line();
}